@import url(../Fonts/fonts.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 1440px;
}

header {
  width: 100%;
  height: 700px;
  background-image: url(../Images/Background.png);
  padding: 0 250px;
  padding-top: 46px;
}

.top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 20px;
}

.top__button {
  color: white;
  width: 90px;
  height: 36px;
  border: none;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 14px;
  background-color: rgba(255, 228, 196, 0);
}

.top__button:hover {
  border: 2px solid white;
  border-radius: 40px;
}

.bigText {
  margin: 147.5px 237px;
  color: white;
  text-align: center;
}

.bigText__boldTitle {
  font-size: 52px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
  margin-bottom: 28.5px;
}

.bigText__lightTitle {
  font-size: 24px;
  font-family: 'Roboto-Light';
}

.bigText__button {
  width: 225px;
  height: 40px;
  background-color: #FF4E50;
  color: white;
  border-radius: 40px;
  margin-top: 33px;
  border: none;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 14px;
}

main {
  width: 100%;
  padding: 0 250px;
  color: white;
}

h2 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 26px;
  text-align: center;
  color: #444444;
  margin: 89px 0 35px 0;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__left, .works__center, .works__right {
  width: 300px;
  height: 400px;
  padding: 224px 25px 0 25px;
}

.works__left .step, .works__center .step, .works__right .step {
  width: 70px;
  height: 20px;
  background-color: #FF4E50;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 10px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__left .title, .works__center .title, .works__right .title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 24px;
  margin: 18px 0 10px 0;
}

.works__left .text, .works__center .text, .works__right .text {
  font-size: 14px;
  font-family: 'Roboto-Light';
  text-align: justify;
}

.works__left {
  background-image: url(../Images/Step1image1.png);
}

.works__center {
  background-image: url(../Images/Step1mage2.png);
  padding-top: 250px;
}

.works__right {
  background-image: url(../Images/Step1image3.png);
}

.works__left_mobile, .works__center_mobile, .works__right_mobile {
  display: none;
}

.partners {
  height: 199px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__persone1, .partners__persone2, .partners__persone3, .partners__persone4 {
  width: 221px;
  height: 205px;
  text-align: center;
  color: #444444;
  font-size: 14px;
}

.partners__persone1 .photo, .partners__persone2 .photo, .partners__persone3 .photo, .partners__persone4 .photo {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
}

.partners__persone1 .name, .partners__persone2 .name, .partners__persone3 .name, .partners__persone4 .name {
  margin: 17px 0 12px 0;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
}

.hobby {
  font-family: 'Roboto-Light';
}

i {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__persone1 .photo {
  background-image: url(../Images/Bitmap3.png);
}

.partners__persone1 .photo i {
  background-color: #FF4E50;
}

.partners__persone2 .photo {
  background-image: url(../Images/Bitmap2.png);
}

.partners__persone2 .photo i {
  background-color: #19D4CA;
}

.partners__persone3 .photo {
  background-image: url(../Images/Bitmap4.png);
}

.partners__persone3 .photo i {
  background-color: #FFA710;
}

.partners__persone4 .photo {
  background-image: url(../Images/Bitmap1.png);
}

.partners__persone4 .photo i {
  background-color: #667DF3;
}

.see-all {
  width: 180px;
  height: 40px;
  margin: 55px auto 0 auto;
  color: #FF4E50;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.holiday {
  width: 940px;
  height: 964px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.holiday__img1, .holiday__img2, .holiday__img3, .holiday__img4, .holiday__img5, .holiday__img6, .holiday__img7 {
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 22px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
}

.holiday__img1, .holiday__img2, .holiday__img3, .holiday__img4, .holiday__img7 {
  width: 300px;
}

.holiday__img5, .holiday__img6 {
  width: 620px;
}

.holiday__img1 {
  background-image: url(../Images/Object1.png);
}

.holiday__img2 {
  background-image: url(../Images/Object2.png);
}

.holiday__img3 {
  background-image: url(../Images/Object3.png);
}

.holiday__img4 {
  background-image: url(../Images/Object4.png);
}

.holiday__img5 {
  background-image: url(../Images/Object5.png);
}

.holiday__img6 {
  background-image: url(../Images/Object6.png);
}

.holiday__img7 {
  background-image: url(../Images/Object7.png);
}

.holiday__img1_mobile, .holiday__img2_mobile, .holiday__img3_mobile, .holiday__img4_mobile, .holiday__img5_mobile, .holiday__img6_mobile, .holiday__img7_mobile {
  display: none;
}

.search {
  width: 482px;
  height: 158px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.search p {
  color: #666666;
  font-size: 18px;
  font-family: 'Roboto-Light';
  margin: 8px 0 25px 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form #search {
  width: 299px;
  height: 40px;
}

form button {
  width: 172.12px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: #FF4E50;
  color: white;
  font-size: 14px;
  font-family: 'Montserrat-Bold', sans-serif;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 224px;
  padding: 0 250px;
  border-top: 2px solid #FF4E50;
  padding-top: 40px;
}

.footer__menu .dream {
  color: #FF4E50;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 16px;
}

.footer__menu .title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.footer__menu li {
  font-family: 'Roboto-Light';
  font-weight: 300;
  list-style-type: none;
  margin-top: 11px;
  color: #999999;
}

.footer__menu .logo {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #CCCCCC;
  text-align: right;
}

.footer__menu p {
  margin-bottom: 7px;
}

@media screen and (max-width: 769px) {
  body {
    width: 768px;
  }
  header {
    padding: 46px 50px;
  }
  .bigText {
    margin: 147.5px 99px;
  }
  main {
    padding: 0 10px;
    width: 768px;
  }
  h2 {
    font-size: 22px;
  }
  .works__left {
    width: 236px;
  }
  .works__center {
    width: 236px;
  }
  .works__right {
    width: 236px;
  }
  .partners {
    height: 467px;
    width: 492px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners__persone1, .partners__persone2, .partners__persone3, .partners__persone4 {
    width: 236px;
    height: 205px;
  }
  .holiday {
    width: 748px;
    height: 969px;
  }
  .holiday__img1, .holiday__img2, .holiday__img3, .holiday__img4, .holiday__img7 {
    width: 236px;
  }
  .holiday__img5, .holiday__img6 {
    width: 492px;
  }
  .footer__menu {
    width: 768px;
    padding: 38px 40px;
  }
}

@media screen and (max-width: 321px) {
  body {
    width: 320px;
    padding: 0 10px;
  }
  header {
    height: 540px;
    width: 300px;
    background-image: url(../Images/mobile.png);
    padding: 20px 0 0 0;
  }
  .top {
    height: 157px;
    width: 153px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: auto;
  }
  .top__text {
    text-align: center;
  }
  .top__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bigText {
    margin: 0;
  }
  .bigText__boldTitle {
    font-size: 30px;
    margin: 26.5px 5px 5px 24px;
  }
  .bigText__lightTitle {
    font-size: 18px;
    margin: 26.5px 5px 15px 24px;
  }
  .bigText__button {
    width: 280px;
    height: 40px;
    margin: 0 auto;
    font-size: 14px;
  }
  main {
    width: 300px;
    padding: 0 10px;
  }
  h2 {
    font-size: 22px;
    text-align: center;
    margin: 34px 0 15px 0;
  }
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 739px;
  }
  .works__left, .works__center, .works__right {
    display: none;
  }
  .works__left_mobile, .works__center_mobile, .works__right_mobile {
    display: block;
    width: 300px;
    height: 240px;
    padding: 69px 30px 16px 34px;
  }
  .works__left_mobile .step, .works__center_mobile .step, .works__right_mobile .step {
    width: 70px;
    height: 20px;
    background-color: #FF4E50;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 10px;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works__left_mobile .title, .works__center_mobile .title, .works__right_mobile .title {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 24px;
    margin: 18px 0 10px 0;
  }
  .works__left_mobile .text, .works__center_mobile .text, .works__right_mobile .text {
    font-size: 14px;
    font-family: 'Roboto-Light';
    text-align: justify;
  }
  .works__left_mobile {
    background-image: url(../Images/mobilework3.png);
  }
  .works__center_mobile {
    background-image: url(../Images/mobilework2.png);
    padding-top: 95px;
  }
  .works__right_mobile {
    background-image: url(../Images/mobilework1.png);
  }
  .partners {
    height: 887px;
    width: 300px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners__persone1, .partners__persone2, .partners__persone3, .partners__persone4 {
    margin: 0 auto;
  }
  .see-all {
    margin: 36px auto 0 auto;
  }
  .holiday {
    width: 300px;
    height: 900px;
  }
  .holiday__img1, .holiday__img2, .holiday__img3, .holiday__img4, .holiday__img5, .holiday__img6, .holiday__img7 {
    display: none;
  }
  .holiday__img1_mobile, .holiday__img2_mobile, .holiday__img3_mobile, .holiday__img4_mobile, .holiday__img5_mobile, .holiday__img6_mobile, .holiday__img7_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    height: 120px;
  }
  .holiday__img1_mobile {
    background-image: url(../Images/mobileholiday1.png);
  }
  .holiday__img2_mobile {
    background-image: url(../Images/mobileholiday7.png);
  }
  .holiday__img3_mobile {
    background-image: url(../Images/mobileholiday6.png);
  }
  .holiday__img4_mobile {
    background-image: url(../Images/mobileholiday5.png);
  }
  .holiday__img5_mobile {
    background-image: url(../Images/mobileholiday4.png);
  }
  .holiday__img6_mobile {
    background-image: url(../Images/mobileholiday3.png);
  }
  .holiday__img7_mobile {
    background-image: url(../Images/mobileholiday2.png);
  }
  .search {
    width: 280px;
    height: 192px;
    margin-bottom: 40px;
  }
  .search p {
    margin: 9px 0 15px 0;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 90px;
  }
  form #search {
    width: 280px;
  }
  form button {
    width: 280px;
  }
  .footer__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 320px;
    height: 226px;
    padding: 21px 50px;
  }
  .footer__menu .dream {
    margin: 0 50px 13px 51px;
    color: #FF4E50;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
  }
  .footer__menu .title {
    text-align: center;
    margin: 0 auto;
  }
  .footer__menu li {
    display: inline;
    margin-right: 10px;
    text-align: center;
  }
  .footer__menu .title_mobile {
    margin-left: 80px;
  }
  .footer__menu .logo {
    margin-left: 55px;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */